@charset "utf-8";

body {
	background: #ffffff;
	font-family: Georgia, 'Hiragino Mincho Pro', Meiryo, serif;
	color: 000000;
	text-align: center;
	line-height: 2.0em;
	margin: 50px;
	width: 960px;
}

header {
	text-align: center;
	padding: 10px;
	margin: 50px;
}

table,tr,td {

	line-height: 2.0em;
	margin-left: 330px;
	width: 350px;
	align:center;
	valigh:middle;
}

