@(stands: com.fasterxml.jackson.databind.JsonNode,
form: Form[Forms.StandForm])

@main("立候補") {
  <h1>立候補</h1>
  <form action="@routes.Application.addStand()" method="post">

   @if(form.hasGlobalErrors){
   		<font color ="#FF0000">
           <p class="text-danger">
             @form.globalError.message
           </p>
        </font>
        }
    <td>立候氏名</td>
    <input type="text" name="standname">

    <td>立候役職</td>
    <select name="post">
      <option value ="会長">会長</option>
      <option value="副会長">副会長</option>
      <option value="理事">理事</option>
    </select><br>


<button type="submit" class="btn btn-info">作成</button>

  </form>
}
