@(users: com.fasterxml.jackson.databind.JsonNode,
stands: com.fasterxml.jackson.databind.JsonNode)

 @main("投票システム"){

    <h1>投票一覧</h1>
	@users

    <h4><p>立候氏名：</h4>
     <p>@for(node <- stands.elements()){
      @node.get("standname").asText()</p>
    }

    <h4><p>立候役職：</h4>
     <p>@for(node <- stands.elements()){
      @node.get("post").asText()</p>
    }

   <table>
   <tr>

    <h4><p>投票者：</h4>
     <p>@for(node <- users.elements()){
       @node.get("name").asText()</p>
    }

    <h4><p>投票対象：</h4>
     <p> @for(node <- stands.elements()){
      @node.get("standname").asText()</p>
    }

	   <p><input type="button" onclick="location.href='/vote/'" value="一覧"></p>
	  </p>
     </p>
    </tr>
  </table>
</div>

}