@(users: com.fasterxml.jackson.databind.JsonNode, stands:
com.fasterxml.jackson.databind.JsonNode)
@main("投票システム"){

<h1>投票一覧</h1>
<table>
	<tr>
		<td>
			<h4>立候氏名：</h4> @for(node <- stands.elements()){
			@node.get("standname").asText() <br>}
		</td>

		<td>
			<h4>立候役職：</h4> @for(node <- stands.elements()){
			@node.get("post").asText() <br>}
		</td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<h4>投票者：</h4> @for(node <- users.elements()){
			@node.get("name").asText() <br>}
		</td>
		<td>
			<h4>投票対象：</h4> @for(node <- stands.elements()){
			@node.get("standname").asText() <br> }
		</td>
		<td>
			<h4>投票対象IP：</h4> @for(node <- stands.elements()){
			@node.get("standname").asText() <br> }
		</td>


	</tr>
</table>
<input type="button" onclick="location.href='/vote/'" value="一覧">

}
