@(users:com.fasterxml.jackson.databind.JsonNode,
stands: com.fasterxml.jackson.databind.JsonNode)



@main("投票システム"){

<div class = "container">
	<h1>投票一覧</h1>
<table class = "table">
  <thead>
	<tr>
	  <th>番号: </th>

      <th>名前：</th>

      <th>役職：</th>

      <th>投票数:</th>
     </tr>
       <tbody>
    	@for(stand <- stands.elements()){
    	<tr>
		<td>@stand.findValuesAsText("id")</td>
		<td>@stand.findValuesAsText("standname")</td>
		<td>@stand.findValuesAsText("post")</td>
		<td>@User.secletnumber(stand.findValue("id").asLong())</td>

     <td><a href='@routes.Application.aboutUsers(stand.get("id").asLong())' class="btn btn-success">詳細</a></td>
      }
    </tbody>
   </thead>
</table>

	<h4>投票者</h4>
<form action="@routes.Application.addUser" method="post">
      <input type="text" name="name" class="form-control" placeholder="氏名を入力してください。">

	<h4>投票対象</h4>

	<select name="stdn">
		@for(stand <- stands.findValuesAsText("standname").toArray()){
		<option value="@stand">
		@stand
		</option>
		}
	</select>

	<button type="submit" class="btn btn-primary">送信</button>
</form>
}
